body {

}

.header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  padding: 20px;
  flex-wrap: nowrap;



}
.nav span a {
  display: inline-flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100px;
  padding: 10px 0;
  color: black;
}
.logo a {
  color: mediumAquamarine;
  align-items: flex-start;
  justify-content: space-between;
  width: 200px;
  flex-wrap: nowrap;
}
