body {

}

.header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  padding: 20px;
  flex-wrap: nowrap;
  }

.header .nav>span>a {
    display: inline-flex;
    align-items: center;
    align-content: flex-end;
    justify-content: space-around;
    width: 100px;
    padding: 10px 0;
    color: black;
    }

.header .logo>a {
  color: mediumAquamarine;
  align-items: center;
  align-content: flex-start;
  justify-content: space-around;
  width: 200px;
  flex-wrap: nowrap;
}
